{% extends 'hr_employee/hr_base.html' %}

{% block main_content %}
    <table class="table table-stripped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Manager</th>
        </tr>
        </thead>
        <tbody>
        {% for department in department_list %}
            <tr>
                <td>{{ department.name }} (<a href="{% url 'hr_employee:departments_form' department.id %}">Open</a>)</td>
                <td>{{ department.manager }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
