{% extends 'hr_employee/hr_base.html' %}

{% block main_content %}
    Hello Employees
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Name</th>
            <th>Work Phone</th>
            <th>Work Email</th>
            <th>Name</th>
            <th>Department</th>
        </tr>
        </thead>
        <tbody>
        {% for employee in employee_list %}
            <tr>
                <td>{{ employee.name }}</td>
                <td>{{ employee.work_phone }}</td>
                <td>{{ employee.work_email }}</td>
                <td>{{ employee.department.name }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
