<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
</head>

<body>


<nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="margin-bottom:20px;background-color:#1b96fe;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#" style="color:white;"><h3>PorjoMania</h3></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
{#      <li class="nav-item">#}
{#        <a class="nav-link" href="#">Home</a>#}
{#      </li>#}

      {% block main_menu %}

      {% endblock main_menu %}
    </ul>

  </div>
</nav>


{#<nav class="navbar navbar-light" style="margin-bottom:20px;background-color:#1b96fe;">#}
{#    <div class="container" style="margin-left: 0; margin-right: 0;">#}
{#        <a class="navbar-brand" href="#" style="color:white;"><h3>PorjoMania</h3></a>#}
{##}
{#<div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#    <ul class="navbar-nav mr-auto">#}
{#      <li class="nav-item active">#}
{#        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>#}
{#      </li>#}
{#      <li class="nav-item">#}
{#        <a class="nav-link" href="#">Link</a>#}
{#      </li>#}
{#      <li class="nav-item">#}
{#        <a class="nav-link disabled" href="#">Disabled</a>#}
{#      </li>#}
{#    </ul>#}
{#    <form class="form-inline my-2 my-lg-0">#}
{#      <input class="form-control mr-sm-2" type="text" placeholder="Search">#}
{#      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
{#    </form>#}
{#  </div>#}
{#    </div>#}
{#</nav>#}

<div class="container-fluid text-left">
    <div class="row content">
        <div class="col-sm-2">
            {% block left_sidebar %}

            {% endblock left_sidebar%}
{#            <p><a href="#">Link</a></p>#}
{#            <p><a href="#">Link</a></p>#}
{#            <p><a href="#">Link</a></p>#}
        </div>
        <div class="col-sm-8 text-left">
            {% block main_content %}

            {% endblock main_content %}
        </div>
        <div class="col-sm-2 sidenav">
            {% block right_sidebar %}

            {% endblock right_sidebar %}
{#            <div class="well">#}
{#                <p>ADS</p>#}
{#            </div>#}
{#            <div class="well">#}
{#                <p>ADS</p>#}
{#            </div>#}
        </div>
    </div>
</div>

</body>
